:root {

    --clr-primary-400: hsl(158, 36%, 37%);
    --clr-secondary-200: hsl(158, 42%, 18%);

    --clr-neutral-black: hsl(212, 21%, 14%);
    --clr-neutral-grey: hsl(228, 12%, 48%);
    --clr-neutral-cream: hsl(30, 38%, 92%);
    --clr-neutral-white: hsl(0, 0%, 100);

    --fw-accent: "Fraunces", serif;
    --fw-base: "Montserrat", sans-serif;

    --ff-regular: 500;
    --fw-bold: 700;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: var(--fw-base);
    font-size: 14px;
    color: var(--clr-neutral-grey);
    background-color: var(--clr-neutral-cream);
    display: flex;
    justify-content: center;
    align-items: center;

}

.container{
    
    max-width: 600px;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    

}

.image img {
    max-width: 100%;
    height: auto;
    display: block;
}

.product {
    display: grid;
    padding: 25px;
    background-color: white;
  
}

.product__category {
    text-transform: uppercase;
    letter-spacing: 3px;
}

h1 {
    font-family: var(--fw-accent);
    color: var(--clr-neutral-black);
}

.product__subtitle {
    line-height: 25px;
    font-size: 15px;
}

.flex-group {
    display: flex;
    gap: 15px;
    align-items: center;
    
}

.product__price {
    font-family: var(--fw-accent);
    color: var(--clr-primary-400);
    font-weight: var(--fw-bold);
    font-size: 30px;
    
}


.product__original-price {
    text-decoration: line-through;
}

.button {


}
