:root{

--clr-primary-400: hsl(158, 36%, 37%);
--clr-secondary-200: hsl(158, 42%, 18%);

--clr-neutral-black:  hsl(212, 21%, 14%);
--clr-neutral-grey: hsl(228, 12%, 48%);
--clr-neutral-cream: hsl(30, 38%, 92%);
--clr-neutral-white: hsl(0, 0%, 100);

--fw-accent:"Fraunces", serif;
--fw-base: "Montserrat", sans-serif;

--ff-regular: 500;
--fw-bold: 700;
}



*, *::before, *::after {
  box-sizing: border-box;
}


* {
  margin: 0;
}


@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}


img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}


input, button, textarea, select {
  font: inherit;
}


p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}


p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}


#root, #__next {
  isolation: isolate;
}  

body {
   background-color: var(--clr-neutral-cream);
   font-family:var(--fw-base);
   font-size: 0.825rem;
   color: var(--clr-neutral-grey);
   max-height: 100%;

  
}