:root {

    --clr-primary-400: hsl(158, 36%, 37%);
    --clr-secondary-200: hsl(158, 42%, 18%);

    --clr-neutral-black: hsl(212, 21%, 14%);
    --clr-neutral-grey: hsl(228, 12%, 48%);
    --clr-neutral-cream: hsl(30, 38%, 92%);
    --clr-neutral-white: hsl(0, 0%, 100);

    --fw-accent: "Fraunces", serif;
    --fw-base: "Montserrat", sans-serif;

    --ff-regular: 500;
    --fw-bold: 700;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: var(--fw-base);
    font-size: 14px;
    color: var(--clr-neutral-grey);
    background-color: var(--clr-neutral-cream);
    display: flex;
    justify-content: center;
    align-items: center;
}

 @media (max-width: 545px) {
    body {
        font-size: 10px;
    }
    }

.container{
    
    max-width: 600px;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 10px;
    overflow: hidden;
}

 @media (max-width: 545px){
    .container {
        grid-template-columns: 1fr;
        margin: 10px;
       

    }
    }

.image img {
    max-width: 100%;
    height: auto;
    display: block;
}

.product {
    display: grid;
    padding: 25px;
    background-color: white;
}

@media (max-width: 545px) {
    .product {
     display: flex;
     flex-direction: column;
     gap: 1rem;
     padding: 30px;
    }  
}


.product__category {
    text-transform: uppercase;
    letter-spacing: 3px;
}

h1 {
    font-family: var(--fw-accent);
    color: var(--clr-neutral-black);
    font-size: 34px;  
}

@media (max-width: 545px) {
    h1 {
        font-size: 30px;
    }
    }

.product__subtitle {
    line-height: 25px;
    font-size: 15px;
}

 @media (max-width: 545px) {
    .product__subtitle {
        font-size: 12px;
        line-height: 20px;
    }
    }

.flex-group {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 20px;
    
}

.product__price {
    font-family: var(--fw-accent);
    color: var(--clr-primary-400);
    font-weight: var(--fw-bold);
    font-size: 30px;
    
}


.product__original-price {
    text-decoration: line-through;
}

.button {
    background-color: var(--clr-primary-400);
    color: white;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    padding:8px;
}

@media (max-width: 545px) {
    .button {
        padding: 15px;
        font-size: 13px;
    }
    }


.button:hover,
.button:focus {
    background-color: var(--clr-secondary-200);
}

